@import url('https://fonts.googleapis.com/css?family=Exo:100');
.center {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-top: 20%;

}
.center select {
  width: 100%;
  border: none;
  height: 20px;
}
 .center #clock {
  font-size: 70px;
  //font-weight: 600;
  text-align: center;
  font-family: Exo;
}
